.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.music_downloader {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px; 
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
nav {
  border-bottom: rgb(102, 8, 116) 5px solid;
}

.outer_links ol {
  list-style-type: none;
  padding-left: 0;
}

.outer_link {
  display: inline-block;
  margin-right: 20px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(102, 8, 116);
}

.personal_space_body{
  width: 1800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(102, 8, 116);
}

.image_container {
  text-align: center;
}

.image_container img {
  width: 100%;
  box-sizing: border-box;
}

.image_container img.shrink {
  width: 80%;
  box-sizing: border-box;
}

.image_container .img_text {
  font-size: 12px;
  color: rgb(190, 190, 190);
  margin-top: 0px;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: rgb(102, 8, 116);
}

h2 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  color: rgb(102, 8, 116);
}

.multiline_h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px; 
}

img {
  display: block;
  margin: 0 auto;
}

p,
li
{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}